*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: #404040;
    background-color: brown;
    /* flex container */
    display: flex;
    height: 100vh;
    /* viewport height */
    justify-content: center;
    align-items: center;
    background-image: url(./assets/imagem-fundo\ \(1\).png);
    background-size: cover;
    background-position: 50%;
    padding: 20px;

    
}
form{
    /* flex chlid de body */
    background-color: white;
    padding: 50px;
    border-radius: 35px;
    /* Flex containt */
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
#barra_horizontal{
    width: 170px;
    height: 3px;
    background-color:#f87842;
    border-radius: 8px;
}

h1{
    font-size: 24px;
}
  
.campo_input{
    /* Flex container */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Lembrar-me{
    /* flex container */
    display: flex;
    gap: 5px;
}
.titulo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-image: linear-gradient(#256a8a,#3393c1);
    color: white;
    border: solid 1px #256a8a ;
    border-right: 4px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    
}
input{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #f1f1f1;
}
a{
    color: #009dff;
}
p{
    align-self: center;
}
button:hover{
    transition: 0.2s;
    background-image: linear-gradient(#009dff, #256a8a);
    transform: scale(1.2,1.2);


}